

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 800px;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.about h1{
    text-align: center;
    text-transform: capitalize;
    font-family: MontHeavy;
    font-size: 65px;
    margin: 0;
}

.about h2{
    width: 800px;
    text-align: center;
    font-family: MontBold;
    font-size: 22px;
    margin-top: 40px;
    color: #9a9a9a;
}

.botones{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.botones a{
    font-size: 30px;
    color: white;
}
